{
  "serverDomain" : "{{ ansible_domain_name }}",
  "workerThreads" : 10,

  "eventCapture": {
      "localAddress" : "{{ ansible_default_ipv4.address }}",
      "publicAddress" : "{{ ansible_host }}",

      "http": {
         "port" : {{ burp_http_port }}
       },

      "https": {
          "port" : {{ burp_https_port }},
      },

      "smtp": {
          "ports" : [25, 587]
      },

      "smtps": {
          "ports" : 465
      },

      "ssl": {
          "certificateFiles" : [
            "/etc/burp/burp.pk8",
            "/etc/burp/burp.crt",
            "/etc/burp/intermediate.crt"
          ]
      }
  },

  "metrics": {
      "path" : "{{ burp_metrics_path }}",
      "addressWhitelist" : {{ burp_whitelist }}
  },

  "polling" : {
      "publicAddress" : "{{ ansible_host }}",
  },


  "dns": {
      "interfaces" : [{
        "name":"ns",
	"localAddress" : "{{ansible_default_ipv4.address}}",
	"publicAddress" : "{{ansible_host }}",
      }],
      "port" : {{ burp_dns_port }}
  }
}
