{
  "serverDomain" : "{{ ansible_domain_name }}",
  "workerThreads" : 10,

  "eventCapture": {
      "localAddress" : "{{ ansible_default_ipv4.address }}",
      "publicAddress" : "{{ burp_public_address }}",

      "http": {
         "port" : {{ burp_http_port }}
       },

      "https": {
          "port" : {{ burp_https_port }},
          "certificateFiles" : [
            "/etc/burp/burp.pk8",
            "/etc/burp/burp.crt",
            "/etc/burp/intermediate.crt"
          ]
      }
  },

  "metrics": {
      "path" : "{{ burp_metrics_path }}",
      "addressWhitelist" : {{ burp_whitelist }}
  },

  "dns": {
      "interfaces" : [{
        "name":"ns",
	"localAddress" : "{{ ansible_default_ipv4.address }}",
	"publicAddress" : "{{ burp_public_address }}",
      }],
      "port" : {{ burp_dns_port }}
  }
}
