terraform.tfvars
**/tfplan
**/.terraform/
**/.vscode
**/debug
**/terraform.tfvars
**/terraform.tfstate*
config/
config/backend.txt
**/*.json
terraform/modules/gcf-deployment/files
terraform/main.tf
ansible/*.yml
ansible/ansible.yml
ansible/main.yml
ansible/*.retry
ansible/burp*
ansoble/*crt
hidensneak
