terraform.tfvars
**/tfplan
**/.terraform/
**/.vscode
**/debug
**/terraform.tfvars
**/terraform.tfstate*
config/
config/backend.txt
terraform/modules/gcp-deployment/inboxa90-f05affa600c1.json
terraform/main.tf
ansible/hosts.yml
ansible/ansible.yml
ansible/main.yml
ansible/*.retry
ansible/burp*
ansoble/*crt
hidensneak
